@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap'); /* Orbitron font for futuristic look */

body {
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.error {
    color: red;
    font-size: large;
}

li {
    color: white; /* Default color for list items */
}

.worker {
    color: #267BFB !important; /* Force the color to apply */
    font-weight: bold;         /* Additional styling */
}

.selected {
    background-color: #444;
    border-radius: 5px;
    padding: 2px 4px;
}

